<!DOCTYPE html>
  <html>
    <head>

    </head>

    <body>
    
   
      {% block body %}

      <div class="container" >
        <div class="row">
          <div class="col s12"> 
            <h2>Resultado das métricas!</h2>
          </div>
           <div class="form-horizontal">
            <a href="/open_compare_tool" type="button" class="btn btn-primary btn-lg">Compare Tool</a>
           </div>
        </div>
        
        
        
        <ul class="collapsible" data-collapsible="expandable">  
          <li>
            <div class="collapsible-header active"><i class="material-icons">equalizer</i>
              Totalizador
              <span class="new badge" data-badge-caption="Método(s)">{{metodos_totalizador|count}}</span>
            </div>
            <div class="collapsible-body">
              <table class="table table-sm table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Totalizadores</th>
                    <th scope="col">Complexity</th>
                    <th scope="col">Max Depth</th>
                    <th scope="col">Statements</th>
                  </tr>
                </thead>
                <tbody>
                {% for aux in metodos_totalizador %}
                  <tr class="bg {{aux.termometro}}"> 
                      <td> {{aux.method_name }} </td>
                      <td> {{ aux.complexity }} </td>
                      <td> {{ aux.depth }}      </td>
                      <td> {{ aux.statements }} </td>
                  </tr> 
                {% endfor %}
                </tbody>
              </table>
            </div>
          </li>
        
          <li>
            <div class="collapsible-header active"><i class="material-icons">edit</i>Alterados
                <span class="new badge" data-badge-caption="Método(s)">{{metodos_geral_alterado|count}}</span>
            </div>
            <div class="collapsible-body">
              <table class="table table-sm table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Método(s)</th>
                    <th scope="col">Complexity</th>
                    <th scope="col">Max Depth</th>
                    <th scope="col">Statements</th>
                  </tr>
                </thead>
                <tbody>
                {% for aux in metodos_geral_alterado %}
                  <tr class="bg {{aux.termometro}}"> 
                      <td> {{aux.method_name }} </td>
                      <td> {{ aux.complexity }} </td>
                      <td> {{ aux.depth }}      </td>
                      <td> {{ aux.statements }} </td>
                  </tr> 
                {% endfor %}
                </tbody>
              </table>
            </div>
          </li>
         
        
        
        
          
          <!-- não alterados -->
         
          <li>
            <div class="collapsible-header"><i class="material-icons">chevron_right</i>Métodos não alterados
              <span class="new badge" data-badge-caption="Método(s)">{{metodos_geral_nao_alterado|count}}</span>
            </div>
            <div class="collapsible-body">
               <table class="table table-sm table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Método(s)</th>
                    <th scope="col">Complexity</th>
                    <th scope="col">Max Depth</th>
                    <th scope="col">Statements</th>
                  </tr>
                </thead>
                <tbody>
                {% for aux in metodos_geral_nao_alterado %}
                  <tr> 
                      <td> {{aux.method_name }} </td>
                      <td> {{ aux.complexity }} </td>
                      <td> {{ aux.depth }}      </td>
                      <td> {{ aux.statements }} </td>
                  </tr> 
                {% endfor %}
                </tbody>
              </table>       
            </div>
          </li>              
           
        </ul>  

          
      </div>

      {% endblock %}

      
      
    </body>      
  </html>